#svgBounce {
  border: solid 1px #dbdbdb;
  overflow: hidden; }

/* 'Look' icon */
#look > path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/bounce/icons.png"); }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: -21px -63px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

.hide {
  display: none; }

button.arrow {
  border: 1px solid #ffa000;
  background-color: #ffa000;
  color: white;
  margin-left: 0px;
  margin-right: 5px;
  display: none; }

button.arrow > img {
  opacity: 1;
  vertical-align: text-bottom; }

button.arrow:focus {
  outline-style: none; }

.soft-buttons-none {
  display: none; }

.soft-buttons-1 {
  display: table-cell;
  min-width: 51px; }

.soft-buttons-2 {
  display: table-cell;
  min-width: 102px; }

.soft-buttons-3 {
  display: table-cell;
  min-width: 153px; }

.soft-buttons-4 {
  display: table-cell;
  min-width: 204px; }

.bounce-score {
  text-anchor: middle;
  font-size: xx-large;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 2; }
