#blockly {
  width: 1024px; }

#svgFlappy {
  overflow: hidden; }

/* 'Look' icon */
#look > path {
  display: none;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-opacity: 0.7; }

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url("/blockly/media/flappy/icons.png"); }

.code {
  background-position: -21px 0px; }

.link {
  background-position: 0px 0px; }

.run {
  background-position: 0px -21px;
  margin-right: 3px; }

.stop {
  background-position: -21px -21px;
  margin-right: 3px; }

.left-btn {
  background-position: -21px -42px;
  margin-right: 3px; }

.right-btn {
  background-position: 0px -21px;
  margin-right: 3px; }

.up-btn {
  background-position: 0px -63px;
  margin-right: 3px; }

.down-btn {
  background-position: 0px -42px;
  margin-right: 3px; }

.hide {
  display: none; }

button.share {
  border: 1px solid #ffa000;
  background-color: #ffa000;
  color: white;
  margin-left: 0px;
  margin-right: 5px;
  padding-top: 11px; }

button.share:focus {
  outline-style: none; }

.share-cell-none {
  display: none; }

.share-cell-enabled {
  min-width: 102px; }

.flappy-score {
  text-anchor: middle;
  font-size: xx-large;
  font-weight: bold;
  fill: white;
  stroke: black;
  stroke-width: 2; }
