-if id == "hoc"
  .span6.miniblock
    =link_to hoc_reset_path() do
      .span4.heading
        %h3.whitetext
          The Hour of Code
        .smallwhitetext Try the basics of computer science. Millions have given it a shot. 
      .span2.imgspan{style: "margin-left: 0px"}
        %img{style: "height: 100px", src: "http://code.org/images/fit-520/codehoc3.jpg"}

-elsif id == "flappy"
  .span6.miniblock
    =link_to "/flappy/1" do
      .span4.heading
        %h3.whitetext
          Flappy Bird
        .smallwhitetext= t('upsell.flappy')
      .span1.imgspan{style: "margin-left: 0px"}
        %img{style: "padding-left: 42px; padding-top: 20px;", src: "http://learn.code.org/blockly/media/skins/flappy/small_static_avatar.png"}

-elsif id == "20hour"
  .span6.miniblock
    =link_to "/" do
      .span4.heading
        %h3.whitetext
          Intro to CS
        .smallwhitetext= "Try our 20 hour Intro to Computer Science course."
      .span2.imgspan
        %img{style: "height: 100px", src: "http://code.org/images/fit-520/code20hr.jpg"}
